beautifulsoup4
google-genai
gradio
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-openai
langchain-text-splitters
openai
pypdf
python-dotenv
requests
sentence-transformers
