beautifulsoup4
boto3
chromadb
fastapi==0.115.6
google-genai
gradio
httpx==0.28.1
ipykernel
jupyter
langchain
langchain-aws
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langchain-text-splitters
langgraph
joblib==1.4.2
matplotlib
openai
pandas==2.2.3
pypdf
python-dotenv
redis==5.2.1
requests
rich
scikit-learn==1.5.2
sentence-transformers
strands-agents
strands-agents-tools
uvicorn==0.34.0
